@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Estilos responsivos */
@media (max-width: 600px) {
  .logo {
    height: 4em; /* Diminui o tamanho do logo em telas menores */
  }

  #root {
    padding: 1rem; /* Reduz o padding em telas menores */
  }

  .MuiToolbar-root {
    flex-direction: column; /* Muda a direção da toolbar para coluna */
    align-items: center; /* Centraliza os itens */
  }

  .MuiButton-root {
    font-size: 0.9rem; /* Ajusta o tamanho dos botões */
  }

  h1 {
    font-size: 1.5rem; /* Tamanho de fonte menor para cabeçalho */
  }

  p {
    font-size: 1rem; /* Tamanho de fonte menor para texto */
  }
}

@media (min-width: 601px) and (max-width: 960px) {
  .logo {
    height: 5em; /* Tamanho médio para logo */
  }

  h1 {
    font-size: 2rem; /* Tamanho de fonte médio para cabeçalho */
  }
}
